<h1>ng-if-demo example</h1>
<div class="container-fluid">
    <div class="description" *ngIf="toggleDescription.value">
        <textarea  id="" cols="30" rows="5" disabled>
            {{product.description}}
        </textarea>
    </div>
    <h2>Product Details</h2>
    <div class="form-switch">
        <input type="checkbox" 
        class="form-check-input" 
        ngModel #toggleDescription="ngModel"> <span>View Description</span>
    </div>
    <dl>
        <dt>Title</dt>
        <dd>{{product.title}}</dd>
        <dt>Price</dt>
        <dd>{{product.price}}</dd>
        <dt>Preview</dt>
        <dd>
            <img [src]="product.image" width="150px" height="150px" alt="">
        </dd>
        <dt>Ratings</dt>
        <dd>
            <span class="bi bi-star-fill text-success"></span>
            {{product.rating.rate}} - [{{product.rating.count}}]
        </dd>
    </dl>
    <div>
        <button (click)="PrevClick()" class="btn btn-success me-2">            
            <span class="bi bi-chevron-left"></span>
        </button>
        <button (click)="NextClick()" class="btn btn-success me-2">
            <span class="bi bi-chevron-right"></span>
        </button>
    </div>
</div>